<!--%Tag(FULL)%-->
<launch>

 <!-- Turtlesim Node-->
  <node pkg="turtlesim" type="turtlesim_node" name="sim"/>


 <!-- spacenav node -->
  <node respawn="true" pkg="spacenav_node"
        type="spacenav_node" name="turtle_spacenav" >
    <remap from="turtle_spacenav/joy" to="joy" />
  </node>

 <!-- Axes -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>

  <node pkg="turtle_teleop" type="turtle_teleop_joy" name="teleop"/>

</launch>
<!--%EndTag(FULL)%-->